<!DOCTYPE html>
<html lang="es">
<head th:replace="layouts/plantilla_intranet::cabezaintranet"></head>
<body id="page-top">
    <div id="wrapper"> 
        <ul th:replace="layouts/plantilla_intranet::contenidoizquierdo"></ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav th:replace="layouts/plantilla_intranet::contenidoarriba"></nav>
        <!-- CONTENIDO -->
                <div class="container-fluid">

                    <div class="alert alert-warning alert-dismissible fade show" th:if="${mensaje != null}" role="alert">

                        <span th:text="${mensaje}"></span>

                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                    </div>


                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">COMBO</h1>
                    </div>
                    <form th:action="@{/intranet/combo/guardar}" th:object="${combo}" method="post">
                        <div class="card-body">
                            <input type="hidden" >
                            <div class="row">

                                <div class="col-md-6 mb-3">
                                    <label>NOMBRE: </label>
                                    <input th:field="*{nombre}" type="text" class="form-control" placeholder="Ingrese el nombre" required/>
                                </div>
                                
                                <div class="col-md-6 mb-3">
                                    <label>PRECIO: </label>
                                    <input  th:field="*{precio}" type="number" step="0.5" class="form-control" placeholder="Ingrese el precio" required/>
                                </div>
                                <div class="col-md-6 mb-3" >
                                    <label>STOCK: </label>
                                    <input  th:field="*{stock}" type="number" class="form-control" placeholder="Ingrese el stock" required/>
                                </div>
                                
                                <div class="col-md-6 mb-3" >
                                    <label>BEBIDA: <span style="color: gray">(opcional)</span></label>
                                    <select class="form-select" th:field="*{bebida.id}">
                                        <option th:value="${null}">Selecciona una bebida: </option>
                                        <option th:each="item: ${listaBebidas}" th:value="${item.id}" th:text="${item.nombre}"> </option>
                                    </select>
                                </div>

                                <div class="col-md-6 mb-3" >
                                    <label>MENU: <span style="color: gray">(opcional)</span></label>
                                    <select class="form-select" th:field="*{menu.id}">
                                        <option th:value="${null}">Selecciona una opción: </option>
                                        <option th:each="item: ${listaMenu}" th:value="${item.id}" th:text="${item.nombre}"> </option>
                                    </select>
                                </div>

                                <div class="col-md-6 mb-3" >
                                    <label>POLLO: <span style="color: gray">(opcional)</span></label>
                                    <select class="form-select" th:field="*{pollo.id}">
                                        <option th:value="${null}">Selecciona una opción: </option>
                                        <<option th:each="item: ${listaPollo}" th:value="${item.id}" th:text="${item.nombre}"> </option>
                                    </select>
                                </div>

                                <div class="col-md-6 mb-3" >
                                    <label>PIQUEO: <span style="color: gray">(opcional)</span></label>
                                    <select class="form-select" th:field="*{piqueo.id}">
                                        <option th:value="${null}">Selecciona una opción: </option>
                                        <option th:each="item: ${listaPiqueo}" th:value="${item.id}" th:text="${item.nombre}"> </option>
                                    </select>
                                </div>
                                
                                
                            </div> 
                                <div class="row mt-3">
                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn btn-success">
                                            <i class="fa-solid fa-floppy-disk">
                                                GUARDAR COMBO
                                        </button>
                                        <button type="button" class="btn btn-secondary" onclick="window.location.href='/intranet/combo/';">
                                            <i  class="fa-solid fa-floppy-disk"></i>
                                                LIMPIAR FORM
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                </div>
                        <div class="card ">
                            <div class="card-header">
                                Combos Registrados
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="table table-dark">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>BEBIDA</th>
                                <th>MENU</th>
                                <th>PIQUEO</th>
                                <th>POLLO</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item: ${listaCombo}">
                                <td th:text="${item.id}"></td>
                                <td th:text="${item.nombre}"></td>
                                
                                <td th:text="${item.precio}"></td>
                                <td th:text="${item.stock}"></td>
                                <!--<td th:text="${item.bebida == null ? item.bebida : item.bebida.nombre}">no</td> -->
                                <div th:if="${item.bebida != null}"><td th:text="${item.bebida.nombre}"></td>
                                </div><div th:unless="${item.bebida != null}"><td>NO</td></div>
                                
                                <div th:if="${item.menu != null}"><td th:text="${item.menu.nombre}"></td>
                                </div><div th:unless="${item.menu != null}"><td>NO</td></div>

                                                                
                                <div th:if="${item.piqueo != null}"><td th:text="${item.piqueo.nombre}"></td>
                                </div><div th:unless="${item.piqueo != null}"><td>NO</td></div>
                                                                                             
                                <div th:if="${item.pollo != null}"><td th:text="${item.pollo.nombre}"></td>
                                </div><div th:unless="${item.pollo != null}"><td>NO</td></div>
                                
                                <td  class="text-center">
                                    <a href="#" class="btn btn-warning editarCombo"
                                    th:data-id="${item.id}"
                                    th:data-nombre="${item.nombre}"
                                    th:data-precio="${item.precio}"
                                    th:data-stock="${item.stock}"
                                    th:data-menu="${item.menu == null ? item.menu : item.menu.id}"
                                    th:data-bebida="${item.bebida == null ? item.bebida : item.bebida.id}"
                                    th:data-piqueo="${item.piqueo == null ? item.piqueo : item.piqueo.id}"
                                    th:data-pollo="${item.pollo == null ? item.pollo : item.pollo.id}"                           
                                    >
                                        <i class="fa-solid fa-pen-to-square"></i> Editar 
                                    </a>
                                </td>
                                <td class="text-center">
                                    
                                    <a th:href="@{eliminar/} + ${item.id}" class="btn btn-danger"
                                    onclick="return confirm('¿Desea eliminar el combo?')">
                                        <i class="fa-solid fa-trash-can"></i> Eliminar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                                </div>
                            </div>
                        </div>
        </div>
    </div>

    <!-- Modal -->

    <div class="modal fade" id="modalEditar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Combo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form th:action="@{/intranet/combo/editar}" th:object="${combo}" method="post">
                    <div class="modal-body">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label title="OPCIONAL">MENU: <span style="color: gray">(opcional)</span> </label>
                                <select class="form-select" name="menu.id" id="cboMenu">
                                    <option th:value="${null}">Seleccione una opción:</option>
                                    <option th:each="item: ${listaMenu}" th:value="${item.id}" th:text="${item.nombre}"></option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>BEBIDA: <span style="color: gray">(opcional)</span></label>
                                <select class="form-select" name="bebida.id" id="cboBebida">
                                    <option th:value="${null}">Seleccione una opción:</option>
                                    <option th:each="item: ${listaBebidas}" th:value="${item.id}" th:text="${item.nombre}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>PIQUEO: <span style="color: gray">(opcional)</span></label>
                                <select class="form-select" name="piqueo.id" id="cboPiqueo">
                                    <option th:value="${null}">Seleccione una opción:</option>
                                    <option th:each="item: ${listaPiqueo}" th:value="${item.id}" th:text="${item.nombre}"></option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>POLLO: <span style="color: gray">(opcional)</span></label>
                                <select class="form-select" name="pollo.id" id="cboPollo">
                                    <option th:value="${null}">Seleccione una opción:</option>
                                    <option th:each="item: ${listaPollo}" th:value="${item.id}" th:text="${item.nombre}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 mb-3">
                                <label>NOMBRE:</label>
                                <input type="text" name="nombre" id="txtNombre" class="form-control" required/>
                            </div>
                            <div class="col-4 mb-3">
                                <label>PRECIO:</label>
                                <input type="text" name="precio" id="txtPrecio" class="form-control" required/>
                            </div>
                            <div class="col-4 mb-3">
                                <label>STOCK:</label>
                                <input type="text" name="stock" id="txtStock" class="form-control" required/>
                            </div>

                        </div>

                        
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info">
                            <i class="fa-solid fa-floppy-disk"></i> Guardar cambios
                        </button>

                    </div>

                </form>

            </div>
        </div>
        

    </div>

    <script src="/js/scriptCombo.js"></script>

    <div th:replace="layouts/plantilla_intranet::pieintranet"></div>
     
</body>
</html>